
 <%- include("header") -%>




  <div id="all">
    <div class="box" id="heading">
      <h1><%=listTitle%></h1>
    </div>

    <div class="box rest">

      <% addItems.forEach(function(item){%>
        <form id="chkform" action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkboxId" value = "<%=item._id %>" onChange="this.form.submit()">
          <p class="key"><%= item.name %></p>
        </div>
        <input type="hidden" name="listName" value="<%=listTitle%>"></input>
        </form>
        <%});%>



      <form class="item" action="/" method="post">
        <input type="text" name="newitem" value="" placeholder="Add Things" autocomplete="off">
        <button class="addbtn" type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>

    </div>




    <div class="footer">
        <p class="cpyright">&copy EGGZY</p>
    </div>

  </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="scripts/jquery.lettering-0.6.1.min.js" charset="utf-8"></script>
<script src="scripts/textillate.JS" charset="utf-8"></script>
<script src="scripts/index.js" charset="utf-8"></script>


<%- include("footer") -%>
